* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Imbue', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    background: #222;
}

header .logo {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

nav ul li a:hover,
nav ul li a.active {
    color: #fff;
    background: #2196f3;
}

.btn {
    background: #28a6af;
    border: none;
    border-radius: 7px;
}

.btn:hover {
    background: #ce5d59;
    border: none;
    border-radius: 7px;
}

.toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 12px;
    cursor: pointer;
    display: none;
}

@media (max-width:991px) {
    header {
        padding: 30px;
    }
    .toggle {
        display: block;
    }
    .toggle i {
        display: block;
        font-size: 2rem;
    }
    header nav {
        /* display: none; */
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        left: -100%;
        top: 50px;
        transition: 0.5s;
    }
    header nav.acive {
        left: 0;
    }
    header nav,
    header nav ul {
        display: block;
        text-align: center;
    }
    nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}


/* hero styles */

.hero {
    display: flex;
    margin-top: 150px;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hero-text h3 {
    font-size: 5rem;
    display: flex;
    width: 90%;
    font-weight: 900;
    opacity: 0.7;
}

.hero-text p {
    margin-top: 30px;
    font-size: 1.3rem;
    opacity: 0.7;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.donation {
    margin-top: 20px;
    width: 30%;
    padding: 25px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
    background: #ec6a65;
    outline: none;
}

.hero-image {
    display: flex;
    width: 50%;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    /* hero styles */
    .hero {
        display: flex;
        margin-top: 150px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 30px;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-text h3 {
        font-size: 5rem;
        display: flex;
        width: 100%;
        font-weight: 900;
        opacity: 0.7;
    }
    .hero-text p {
        margin-top: 30px;
        font-size: 1.3rem;
        opacity: 0.7;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }
    .donation {
        margin-top: 20px;
        width: 50%;
        padding: 25px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        font-size: 1rem;
        border: none;
        border-radius: 7px;
        background: #ec6a65;
        outline: none;
    }
    .hero-image {
        display: flex;
        width: 50%;
        justify-content: center;
    }
}


/* sponsors */

.sponsors {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.sponsors h3 {
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 3rem;
    opacity: 0.8;
}

.sponsor-image {
    display: flex;
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .sponsors {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        justify-content: center;
        align-items: center;
    }
    .sponsor-image {
        display: flex;
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
        justify-content: center;
        flex-direction: column;
    }
    .sponsor-image img {
        width: 40%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 20px;
    }
}


/* end sponsors */


/* description */

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.d-header {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    opacity: 0.7;
}

.d-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 20px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #ec6a65;
    border-radius: 7px;
}

.card h1 {
    border: none;
    border-radius: 50%;
    background: #fff;
    padding: 18px;
    width: 25%;
}

.card h3 {
    display: flex;
    margin-top: 20px;
    font-size: 3rem;
}

.card p {
    margin-top: 30px;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    width: 100%;
    line-height: 1.5;
}

#verity {
    background: #dd8a75;
}

#verity h1 {
    background: #cc6e57;
}

#transparency {
    background: #b9dfe2;
}

#transparency h1 {
    background: #8acbcf;
    font-size: 2rem;
}

#purposefulness {
    background: #fdb492;
}

#purposefulness h1 {
    background: #e08e67;
}

@media screen and (max-width: 991px) {
    .description {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 100px;
        justify-content: center;
        align-items: center;
    }
    .d-header {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        opacity: 0.7;
    }
    .d-cards {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 20px;
        padding: 30px;
    }
}


/* end of description */


/* banner section */

.banner {
    display: flex;
    width: 100%;
    padding: 70px 30px;
    background: #d3e9d8;
}

.banner-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    display: flex;
    width: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 70px;
}

.banner-text h3 {
    font-size: 4rem;
    display: flex;
    width: 95%;
    opacity: 0.7;
}

@media screen and (max-width: 991px) {
    .banner {
        display: flex;
        width: 100%;
        padding: 70px 30px;
        background: #d3e9d8;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-image {
        width: 100%;
    }
    .banner-image img {
        display: flex;
        width: 100%;
    }
    .banner-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 15px;
    }
}


/* end of banner section */


/* events styles */

.events {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 30px;
    justify-content: center;
    align-items: center;
}

.e-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.e-head h1 {
    font-size: 3rem;
    opacity: 0.7;
}

.e-head p {
    font-size: 1.5rem;
    opacity: 0.7;
    width: 55%;
    line-height: 1.8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.e-gallery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 30px;
    padding: 50px;
}

.e-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.e-card img {
    display: flex;
    justify-content: center;
}

.e-card h3 {
    font-size: 3rem;
    opacity: 0.7;
    margin-top: 50px;
    text-align: center;
}

.e-card p {
    margin-top: 20px;
    display: flex;
    color: #ec6a65;
    font-size: 1.2rem;
}

.e-card p i {
    margin-right: 20px;
}

.e-card button {
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 7px;
    background: #8acbcf;
    font-weight: 700;
    width: 30%;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:991px) {
    .events {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 100px 30px;
        justify-content: center;
        align-items: center;
    }
    .e-head p {
        font-size: 1rem;
        opacity: 0.7;
        width: 100%;
        line-height: 1.8;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .e-gallery {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-gap: 30px;
        padding: 50px;
    }
    .e-card h3 {
        font-size: 2rem;
        opacity: 0.7;
        margin-top: 50px;
        text-align: center;
    }
    .e-card p {
        margin-top: 20px;
        display: flex;
        color: #ec6a65;
        font-size: 1rem;
    }
}


/* end of events styles */