.support-intro{
    padding: 230px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(207, 240, 233);
    width: 100%;
}


.intro-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.intro-head h3{
    font-size: 3rem;
    letter-spacing: 1.5px;
}

.intro-head p{
    margin-top: 20px;
    width: 70%;
    font-size: 1.2rem;
    text-align: center;
}

.support-forms{
    opacity: 0.7;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 50px;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forms h1{
    border: none;
    border-radius: 50%;
    font-size: 3rem;
}

#volunteer{
    background: rgb(253, 131, 109);
    padding: 20px;
    color: #fff;
}

#fundraise{
    background: rgb(143, 210, 236);
    padding: 20px;
    color: #fff;
}

.forms h3{
    margin-top: 30px;
    font-size: 3rem;
} 

.forms p{
    margin-top: 20px;
    opacity: 0.8;
    width: 80%;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: center;
}

/* responsive */

@media screen and (max-width: 991px){
    .support-intro{
        padding: 180px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(207, 240, 233);
    }
    
    
    .intro-head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
    }
    
    .intro-head h3{
        font-size: 2rem;
        letter-spacing: 1.5px;
    }
    
    .intro-head p{
        margin-top: 20px;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .support-forms{
        opacity: 0.7;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        margin-top: 50px;
    }
    
    .forms{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }
    
    .forms h1{
        border: none;
        border-radius: 50%;
        font-size: 3rem;
    }
    
    #volunteer{
        background: rgb(253, 131, 109);
        padding: 20px;
        color: #fff;
    }
    
    #fundraise{
        background: rgb(143, 210, 236);
        padding: 20px;
        color: #fff;
    }
    
    .forms h3{
        margin-top: 30px;
        font-size: 3rem;
    } 
    
    .forms p{
        margin-top: 20px;
        opacity: 0.8;
        width: 80%;
        text-align: center;
    }
}

/* end suppot */

/* modes */

.d-modes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 30px;
}

.d-modes h1{
    text-align: center;
    font-size: 5rem;
    opacity: 0.6;
}

.modes{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    margin-top: 50px;
}

.mode-container{
    margin-left: 20px;
    margin-top: 30px;
}

.mode-container img{
    display: flex;
    max-width: 100%;
}

.mode-container h3{
    margin-top: 20px;
    font-size: 2.5rem;
    opacity: 0.6;
}

.mode-container p{
    margin: 30px 0px;
    font-size: 1.2rem;
    line-height: 1.7;
    opacity: 0.6;
    width: 90%;
}

#address{
    color: #e45252;
}

.mode-container a{
    color: #e45252;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.6;
}

.mode-container a:hover{
    color: #73c9e4;
}

.d-modes button{
    width: 35%;
    padding: 25px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    background: #28a6af;
}


/* responsive */

@media screen and (max-width:991px){

    .d-modes{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 100px 30px;
    }
    
    .d-modes h1{
        font-size: 2rem;
    }
    
    .modes{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        margin-top: 50px;
    }
    
}
/* end modes */