.about-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 250px;
    background: rgb(247, 216, 216);
}

.about-introduction h3 {
    font-size: 4rem;
    width: 50%;
    text-align: center;
}

.about-introduction p {
    display: flex;
    width: 60%;
    line-height: 1.8;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .about-introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-top: 150px;
        background: rgb(247, 216, 216);
    }
    .about-introduction h3 {
        font-size: 4rem;
        width: 100%;
        text-align: center;
    }
    .about-introduction p {
        display: flex;
        width: 100%;
        line-height: 1.8;
        font-size: 1.2rem;
        text-align: center;
    }
}


/* relief */

.relief {
    display: flex;
    width: 100%;
    padding: 100px 30px;
}

.relief-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relief-image img {
    display: flex;
    align-items: center;
}

.relief-text {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
}

.relief-text h3 {
    font-size: 3rem;
    width: 80%;
    opacity: 0.8;
    margin-top: 30px;
}

.relief-text p {
    display: flex;
    margin-top: 30px;
    opacity: 0.6;
    width: 100%;
    font-size: 1.3rem;
    line-height: 2;
}


/* responsive */

@media screen and (max-width: 991px) {
    .relief {
        display: flex;
        width: 100%;
        padding: 100px 30px;
        flex-direction: column;
    }
    .relief-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .relief-image img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .relief-text {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
    .relief-text h3 {
        font-size: 3rem;
        width: 100%;
        opacity: 0.8;
    }
    .relief-text p {
        display: flex;
        margin-top: 30px;
        opacity: 0.6;
        width: 100%;
        font-size: 1.3rem;
        line-height: 2;
    }
}


/* end relief */


/* principles */

.principles {
    display: flex;
    padding: 100px 30px;
    width: 100%;
}

.p-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.p-container h1 {
    display: flex;
    font-size: 3rem;
    opacity: 0.8;
}

.p-container p {
    margin-top: 40px;
    font-size: 1.2rem;
    line-height: 1.8;
}


/* responsive */

@media screen and (max-width: 991px) {
    .principles {
        display: flex;
        padding: 30px 10px;
        width: 100%;
        flex-direction: column;
    }
    .p-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .p-container h1 {
        display: flex;
        font-size: 3rem;
        opacity: 0.8;
    }
    .p-container p {
        margin-top: 40px;
        font-size: 1.2rem;
        line-height: 1.8;
    }
}


/* end principles */